.border {
    border: 2px solid red;
   
}

#Hero {
    border: 2px solid red;
    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-between;
    margin-bottom:20px;
    
}

.logo-img {
    background: url("images/logo.jpg");
    
    width: 200px;
    background-size: cover;
    
}

#Hero-nav {
    border: 1px solid black;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#first-section {
    color: blue;
    width: 1200px;
    border:1x soild black;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}

.first-section-information {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.first-section-image {
    width: 500px;
    background: url(images/alvan-nee-T-0EW-SEbsE-unsplash.jpg);
    background-size: cover;
    
}

#Real-first-section {
    background: #c7c0f7;
    height: 400px;
}